@import url('https://fonts.cdnfonts.com/css/british-council-sans');
@import url('https://fonts.cdnfonts.com/css/min-sans');
@import url('https://fonts.cdnfonts.com/css/acephimere');
@import url('https://fonts.cdnfonts.com/css/segoe-ui-variable');
@import url('https://fonts.cdnfonts.com/css/roboto');
@import url('https://fonts.cdnfonts.com/css/segoe-pro?styles=21335,21326,21324,21339');
                
                

    span.head {
        font-size: 35px;
        background: radial-gradient(circle, red, orange, yellow, rgb(23, 199, 23), rgb(147, 147, 255), rgb(120, 0, 206), violet);
        background-size: 600%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: slide 70s linear infinite;
        display: inline-block;
        font-family: 'Acephimere', sans-serif;
        padding-top: 30px;
        padding-left: 35px;
    }

    span
    {
        font-family: 'Segoe UI Variable', sans-serif;   
        font-family: 'Min Sans', sans-serif;                                                                             
    }
    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

span.main {
    font-size: 30px;
    display: inline-block;
    margin-top: 5px;
    margin-right: calc(1vw + 10px);
    margin-bottom: 15px;
    margin-left: calc(1vw + 35px);
    color: #FFF;
}

span.main.info {
    font-size: 30px;
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 35px;
    color: #FFF;
}

@keyframes slide {
    0% { background-position: 0%; }
    100% { background-position: 200%; }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
}
.theme-switcher {
    transition: background-color 0.5s ease;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    position: relative;
    top: 15px;
    left: 10px;
}

.theme-switcher:hover {
    background-color: #444;
}

.theme-switcher img {
    width: 90%; /* Ширина изображения равна ширине бокса */
    height: 90%; /* Высота изображения подстраивается под ширину, сохраняя пропорции */
}

.image-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw; /* Увеличьте размер контейнера, как вам нужно */
    padding-top: 35vh; /* Установите это значение равным ширине для получения квадратного контейнера */
    margin-right: calc(80px - 20vw);
    margin-left: calc(80px - 20vw);
    overflow: hidden;
}

.image-box img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; box-shadow: 0.3s ease-in-out;
}


.image-box-page {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100vw; /* Увеличьте размер контейнера, как вам нужно */
    padding-top: 45vh; /* Установите это значение равным ширине для получения квадратного контейнера */
    margin-right: calc(80px - 20vw);
    margin-left: calc(80px - 20vw);
    overflow: hidden;
    margin-top: 3vh;
}

.image-box-page > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.inner-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
}

.image-box:hover .inner-shadow {
    box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.5), inset 0 -10px 30px rgba(0, 0, 0, 0.5);
}

.image-box:hover img {
    transform: scale(1.2);
}

.image-box .image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    margin-bottom: 15px;
    font-family: 'Roboto Black', sans-serif;
    width: 100%;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.image-box-page .image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    margin-bottom: 15px;
    font-family: 'Roboto Black', sans-serif;
    width: 100%;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    order: 1;
}

.author .author-text {
    position: relative;
    bottom: 0;
    left: 0;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.author {
    display: flex;
    position: absolute;
    order: 2;
    bottom: 60px;
    left: 20px;
}
.text-container {
    display: flex;
}
.author .author-icon {
    width: 24px;
    height: auto;
}

.add-icon {
    transition: background-color 0.5s ease;
    position: absolute;
    top: 95px;
    left: 15px;
    height: 40px;
    width: 40px;
}


.add-icon:hover {
    background-color: #444;
}

.add-icon img {
        width: 100%;
        height: 100%;
    }

.grey-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 98vw;
        padding-top: 35vh;
        margin-right: calc(80px - 20vw);
        margin-left: calc(80px - 20vw);
        margin-bottom: 10px;
        overflow: hidden;
        background-color: rgba(128, 128, 128, 0.212);

    }

    .grey-inner-box {
    position: sticky;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    width: 98vw;
    justify-content: flex-end;
    align-items: center;
    margin-right: calc(80px - 20vw);
    margin-left: calc(80px - 20vw);
}

    .inner-box-text {
        color: white;
        font-size: 19px;
        left: 5px;
        position: absolute;
        font-family: 'Segoe Pro', sans-serif;
        font-weight: 700;
    }

    .scroll-back-icon {
        position: sticky;
        left: 100%;
        display: flex;
        width: 35px;
        height: 35px;
        cursor: pointer;
        margin-right: 5px;
    }

    .add-page-icon {
    position: sticky;
    display: flex;
    width: 35px;
    height: 35px;
    cursor: pointer;
    }

    .text-input-container {
        display: inline-grid;
        gap: 10px;
        position: absolute;
        bottom: 20px;
        left: 40px;
    }
    
    .text-input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .image-box-custom {
        width: 175px;
        height: 100px;
        background-color: #555;
        position: absolute;
        left: 40px;
        top: 30px;
    }

    .new-elements-container {
        display: inline-block;
        margin-left: 50px;
    }